.navbar-nav > li > a {
  line-height: 46px;
}

.views-field-field-rating {
  font-size: 190%;
}

.pane-views-exp-bkm-item-list-panel-pane-1.limited-exposed-filters .panel.panel-default:not(.filter-keys):not(.sort-sort-bef-combine),
.pane-views-exp-bkm-item-list-panel-pane-1 .panel.panel-default:not(.filter-field-bkm-list-tid):not(.filter-field-group-tid),
.pane-views-exp-bkm-item-list-panel-pane-1.limited-exposed-filters .panel.panel-default.sort-sort-bef-combine .control-label {
  display: none;
}

.pane-views-exp-bkm-item-list-panel-pane-1.limited-exposed-filters .panel.panel-default.filter-keys,
.pane-views-exp-bkm-item-list-panel-pane-1.limited-exposed-filters .panel.panel-default.sort-sort-bef-combine {
  border-radius: 0;
  box-shadow: none;
  background-color: #f5f5f5;
  display: block;
  float: left;
}

.pane-views-exp-bkm-item-list-panel-pane-1.limited-exposed-filters .panel.panel-default.filter-keys {
  border-radius: 4px 0 0 4px;
  border-right: 0;
  width: 75%;
}

.pane-views-exp-bkm-item-list-panel-pane-1.limited-exposed-filters .panel.panel-default.sort-sort-bef-combine {
  border-left: 0;
  border-radius: 0 4px 4px 0;
  width: 25%;
}

.pane-views-exp-bkm-item-list-panel-pane-1.limited-exposed-filters .btn-group-justified {
  clear: both;
  float: none;
}
